body {
    font-family: "RobotoLight";
}

@media (min-width: 768px){
    .custom-hide {
        display: block !important;
    }
    .navbar-collapse.collapse.custom-hide2 {
        display: none !important;
    }
}
.mt-80.mb80.custom-padding{
    margin-bottom: 20px;
}

.my-features-block {
    background-color: #fff;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 80px;
}
    .my-features-block .box-content h2, .my-features-block .box-content p {
        color: #363636;
    }
    .my-features-block .box-icon{
        border: 2px solid rgba(54, 54, 54, 0.6);
    }
.display-block {
    display: block;
}
/*from mozilla */
.card-row-image{
    background-image: url("/img/tmp/product-1.jpg");
}
.page-title.add_forms {
    padding: 0px 0px 60px 0;
}
.error-message {
    color: red;
}
.actions-buttons {
    float: right;
    padding-right: 10px;
    color: #d6e9c6;
}
.actions-buttons .fa-times {
    padding-left: 10px;
}
.panel-success .actions-buttons a{
    color: #d6e9c6;
}
    .panel-success .actions-buttons a:hover{
        color: #BAD0BB;
    }
.panel-info .actions-buttons a{
    color: #000;
    margin-left: 10px;
}
    .panel-info .actions-buttons a:hover{
        color: #BBCED8;
    }
.form-group.event-image img{
    width: 200px;
    margin: auto;
    display: block;
}
.form-group.event-image label{
    width: 200px;
    margin: auto;
    display: block;
}
.form-group.event-image input{
    margin: auto;
    margin-bottom: 15px;
}
.form-group .big-width{
    width: 100%;
}
.custom-background{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.caution {
    margin: 50px;
}
@media (max-width: 767px){
    .caution h1{
        font-size: 100px;
        margin: 0px;
    }
    .caution h2{
        font-size: 30px;
        margin: 0px;
    }  
}
.nunito{ 
    font-family: 'Nunito';
}
.form-padding-bottom{
    padding-bottom: 20px;
}
.pager .next > a, .pager .next > span {
    float: none; 
}
.detail-banner-rating.subscriptions {
    font-size: 16px;
}
    .detail-banner-rating.subscriptions span {
        color: #fff;
        font-size: 14px;
    }
    .detail-banner-rating.subscriptions span strong{
        margin-right: 2px;
    }
.user-subscribtions-unsubscribe {
    color: #009f8b;
    display: inline;
    cursor: pointer;
}
.alert.alert-danger a {
    color: white;
}
.my_link {
    color: rgba(54, 54, 54, 0.6);
}
.my_link:focus {
    color: rgba(54, 54, 54, 0.6);
}
.negative-margin-top {
    margin-top: -80px;
}
.vk-comments {
    padding-bottom: 20px;
}
.my_link i {
    font-size: 16px;
    position: relative;
    bottom: 4px;
}
.read-more-events {
    margin: 20px auto;
    float: none;
    font-size: 18px;
    text-align: center;
}
    .read-more-events a {
        color: rgba(54, 54, 54, 0.6);
        text-decoration: none;
        border-bottom: 1px solid rgba(54, 54, 54, 0.6);
    }
    .read-more-events a:hover {
        color: #008675;
        border-bottom: 1px solid #008675;
    }